<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir Informe</title>
</head>
<body>
    <h1>Subir Informe GPS</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Selecciona el archivo .json</label><br>
        <input type="file" name="file" required><br><br>
        <label for="email">Ingresa el correo electrónico en el cual quieres enviar tu informe:</label><br>
        <input type="email" name="email" required><br><br>
        <button type="submit">Enviar Informe</button>
    </form>
</body>
</html>